@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--foreground);
	background: var(--background);
}

body[data-editor-mode="true"] .editor-highlight {
	/* Alle diese Stile sind Tailwind-Klassen */
	border-color: var(--editor-border-color);
	/* Alle diese Stile sind Tailwind-Klassen */
	@apply border-2 border-dashed rounded-lg relative;
}
